@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Course;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.TeacherEnrollment;
@model TeacherEnrollmentDTO;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeacherEnrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden class="form-check-input" asp-for="IsActive" value="@true" />
            <div class="form-group">
                <label class="control-label">Start Date</label> (Course's start: @Model.StartDate.Date)
                @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @min=Model.StartDate.Date.ToString("yyyy-MM-ddThh:mm")})
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">End Date</label> (Course's end: @Model.EndDate.Date)
                @Html.TextBoxFor(x => x.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @max=Model.EndDate.Date.ToString("yyyy-MM-ddThh:mm")})
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Teacher</label>
                <select asp-for="TeacherProfileId" class="form-control" asp-items="ViewBag.TeacherProfileId"></select>
            </div>
            @Html.HiddenFor(x => x.YogaClassId)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
