@using YogaManagement.Client.Helper;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.TeacherEnrollment;
@model IEnumerable<TeacherEnrollmentDTO>
@inject JwtManager _jwtManager

@{
    ViewData["Title"] = "Index";
    int classId = (int)ViewData["classId"];
}

<h1>Teacher Enrollments</h1>

@if (_jwtManager.IsStaff())
{
    <p>
        <a asp-action="Create" asp-route-id=@classId>Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                @if (_jwtManager.IsStaff())
                {
                    @if (item.IsActive)
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn-link disabled" href="#">Delete</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
