@using YogaManagement.Client.Helper;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Course;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Enrollment;
@model IEnumerable<CourseDTO>
@inject JwtManager _jwtManager;

@{
    ViewData["Title"] = "Courses";
    var courses = Model;
    List<EnrollmentDTO> enrollments = new List<EnrollmentDTO>();
    if (_jwtManager.IsMember())
    {
        courses = courses.Where(x => x.IsActive);
        enrollments = ViewData["UserEnrolls"] as List<EnrollmentDTO>;
    }
}

<h1>Courses</h1>

@if (_jwtManager.IsStaff())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Price
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Category
            </th>
            @if (_jwtManager.IsMember())
            {
                <th>
                    Enrolled
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in courses.OrderByDescending(x => x.IsActive).ThenByDescending(x => x.StartDate))
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="YogaClasses"
                       asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)

                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @if (_jwtManager.IsMember())
                {
                    bool enrolled = enrollments.Any(x => x.CourseId == item.Id);
                    <td>
                        @Html.CheckBoxFor(modelItem => enrolled)
                    </td>
                }
                @if (_jwtManager.IsStaff())
                {
                    @if (item.IsActive)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                            <a asp-action="Index" asp-controller="YogaClasses"
                               asp-route-id="@item.Id">Classes</a>
                        </td>
                    }
                }
                @if (_jwtManager.IsMember())
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Index" asp-controller="YogaClasses"
                           asp-route-id="@item.Id">Classes</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
