@using YogaManagement.Client.Helper;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.TimeSlot;
@model IEnumerable<ClassTimeSlotDTO>
@inject JwtManager _jwtManager;

@{
    ViewData["Title"] = "Member";
    //int id = (int)ViewData["classId"];
}

<h1>Time table</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Course
            </th>
            <th>
                Class
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
            </tr>
        }
    </tbody>
</table>
