@using YogaManagement.Client.Helper;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.YogaClass;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Enrollment;
@model IEnumerable<YogaClassDTO>
@inject JwtManager _jwtManager;
@inject IHttpContextAccessor _httpContextAccessor;

@{
    ViewData["Title"] = "Yoga Classes";
    var enrollments = ViewData["EnrolledMember"] as List<EnrollmentDTO>;
    bool courseEnrolled = (bool)ViewData["CourseEnrolled"];
    var classNameSearch = _httpContextAccessor.HttpContext.Session.GetString("classNameSearch");
}

<h1>Yoga Classes</h1>

@if (_jwtManager.IsStaff())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<p>
    <label>Search For Class</label>
    <form asp-action="Index">
        <input type="text" name="className" placeholder="Class name" value="@classNameSearch" />
        <input type="submit" value="Search for class" class="btn btn-primary" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Class Name
            </th>
            <th>
                Size
            </th>
            <th>
                Status
            </th>
            <th>
                Course
            </th>
            @if (_jwtManager.IsMember())
            {
                <th>
                    Enrolled
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var countEnroll = enrollments.Where(e => e.YogaClassId == item.Id).Count();
                    }
                    @*@Html.DisplayFor(modelItem => item.Size)*@
                    @countEnroll/@item.Size
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YogaClassStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Course" asp-route-id="@item.CourseId">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </a>
                </td>
                @if (_jwtManager.IsMember())
                {
                    var enrolled = enrollments.Any(x => x.YogaClassId == item.Id
                    && x.MemberId == _jwtManager.GetProfileId());
                    <td>
                        @Html.DisplayFor(modelItem => enrolled)
                    </td>
                    <td>
                        <a asp-action="Index" asp-controller="YogaClasses" asp-route-id="@item.CourseId">Others</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                        <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> |
                        @if (!enrolled)
                        {
                            @if (courseEnrolled)
                            {
                                <a asp-action="Create" asp-controller="Enrollments" asp-route-id="@item.Id">Change Class</a>
                            }
                            else
                            {
                                <a asp-action="Create" asp-controller="Enrollments" asp-route-id="@item.Id">Enroll</a>
                            }
                        }
                        else
                        {
                            <a asp-action="Delete" asp-controller="Enrollments" asp-route-id="@item.Id">Unenroll</a>
                        }
                    </td>
                }
                @if (_jwtManager.IsStaff())
                {
                    @if (item.YogaClassStatus != "Active")
                    {
                        <td>
                            <a asp-action="Index" asp-controller="YogaClasses" asp-route-id="@item.CourseId">Others</a> |
                            <a asp-action="Activate" asp-controller="YogaClasses" asp-route-id="@item.Id">Activate</a> |
                            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                            <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                            <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Index" asp-controller="YogaClasses" asp-route-id="@item.CourseId">Others</a> |
                            <a class="btn-link disabled">Activate</a> |
                            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                            <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                            <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> |
                            <a class="btn-link disabled" href="#">Delete</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
