@using YogaManagement.Client.Helper;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.YogaClass;
@using YogaManagement.Client.OdataClient.YogaManagement.Contracts.Enrollment;
@model IEnumerable<YogaClassDTO>
@inject JwtManager _jwtManager;

@{
    ViewData["Title"] = "Index";
    var Enrollment = ViewData["EnrolledMember"] as List<EnrollmentDTO>;
}

<h1>Index</h1>

@if (_jwtManager.IsStaff())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Size)*@
                Size
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var countEnroll = Enrollment.Where(e => e.YogaClassId == item.Id).Count();
                    }
                    @*@Html.DisplayFor(modelItem => item.Size)*@
                    @countEnroll/@item.Size
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YogaClassStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                @if (_jwtManager.IsStaff())
                {
                    @if (item.YogaClassStatus != "Active")
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                            <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                            <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> |
                            <a class="btn-link disabled" href="#">Delete</a>
                        </td>
                    }
                }
                @if (_jwtManager.IsMember())
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Index" asp-controller="ClassSchedule" asp-route-id="@item.Id">Schedule</a> |
                        <a asp-action="Index" asp-controller="TeacherEnrollments" asp-route-id="@item.Id">Teacher</a> 
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
